/* Reset */
* {
    border: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    align-items: center;
    display: flex;
    font-size: 100%;
    justify-content: center;
    min-height: 100vh;
}

/* Card */
.card {
    backface-visibility: hidden;
    background-color: #222;
    color: #fff;
    cursor: default;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.card__image {
    display: block;
    height: 190px;
}

.card__info {
    justify-content: space-between;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.card__info--new {
    background: url(../img/new.PNG) top right no-repeat;
}

.card__title {
    color: #73d72b;
    font-size: 110%;
    line-height: 100%;
    text-transform: uppercase;
}

.card__title--main {
    color: #fff;
}

.card__title--big {
    font-size: 155%;
}

.card__description p {
    font-size: 80%;
    line-height: 100%;
    margin: 8px 0;
}

.card__scroll {
    font-size: 70%;
    height: 110px;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 0 16px 10px 0;
}

.card__scroll:hover {
    overflow: auto;
    padding: 0 10px 10px 0;
}

.card__button {
    background: #fff;
    color: #222;
    cursor: pointer;
    font-size: 75%;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding: 5px;
    transition: ease-in-out 0.2s;
}

.card__button:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    transition: ease-in-out 0.2s;
}

.card__button--primary {
    background: #f95f1e;
    color: #fff;
}

.card__button--swipe:hover {
    background-image: url(../img/swipe.PNG);
    background-position: left center;
    background-repeat: no-repeat;
}

.card__options {
    display: inline-grid;
    grid-gap: 1%;
    grid-template-columns: 33% 33% 33%;
}

/* Swipe */
.swipe {
    height: 190px;
    perspective: 600px;
    width: 600px;
}

.swipe__wrapper {
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 100%;
}

.swipe[show-back="true"] .swipe__wrapper {
    transform: rotateY(180deg);
}

.card--back {
    transform: rotateY(180deg);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .swipe {
        height: 420px;
        margin-top: 10px;
        width: 230px;
    }
    .card {
        flex-direction: column;
    }
    .card__image {
        height: auto;
        width: 230px;
    }
    .card__scroll {
        height: 315px;
    }
    .card__options {
        grid-template-columns: 49% 49%;
    }
    .card__options .card__button--primary {
        grid-area: 1 / 1 / 1 / 3;
        margin-bottom: 2px;
    }
    .card__options .card__button--secondary {
        grid-area: 2 / 2 / 2 / 2;
    }
    .card__options .card__button--swipe {
        grid-area: 2 / 1 / 2 / 1;
    }
    .card__options--back .card__button--primary {
        grid-area: 1 / 2 / 1 / 2;
        margin: 0;
    }
    .card__options--back .card__button--swipe {
        grid-area: 1 / 1 / 1 / 1;
    }
}
